body{
    background-color: rgb(203, 207, 247);
    margin: 0;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 33vw 33vw 34vw;
    grid-template-rows: 33vh 33vh 34vh;
}

.item{
    border: 1px solid red; 
}

.item:nth-of-type(1){
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template: repeat(4,10%) / repeat(2,20%);
    grid-column-gap: 10%;
    grid-row-gap: 10%;   
}

.item-1{
    border: 1px solid blue;
}

.item-1:nth-of-type(1){
    grid-column: 1 / 3;
}


.item-1:nth-of-type(2){
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.item:nth-of-type(2){
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sec1 sec1 sec2"
                          "sec3 sec3 sec3";
    grid-template-rows: repeat(2,20%);
    grid-template-columns: repeat(3,20%);
}


.item-2:nth-of-type(1){
    grid-area: sec1;
    border: 1px solid blue;
}

.item-2:nth-of-type(2){
    grid-area: sec2;
    border: 1px solid blue;
}

.item-2:nth-of-type(3){
    grid-area: sec3;
    border: 1px solid blue;
}

.item:nth-of-type(3){
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(7,10%);
    grid-template-columns: repeat(3,20%);
    
}

.item-3{
    border: 1px solid green;
}

.item-3:nth-of-type(1){
    grid-column: 1/4;
}

.item-3:nth-of-type(2){
    grid-row: 2/3;
    grid-column: 1/3;
}
.item-3:nth-of-type(3){
    grid-row: 2/4;
}

.item-3:nth-of-type(4){
    grid-column: 1/3;
    grid-row: 3/5;
}

.item-3:nth-of-type(5){
    grid-row: 4/7;
}